@page
@model ZarinBetonLetterWebApp.Pages.EditSentMailModel
@{
}


<div class="row"><div class="col-12 text-center"><h3>ویرایش نامه ارسالی</h3></div></div>

<div class="row" dir="rtl">
    <div class="col-12">
        <form method="post">
            <input type="hidden" asp-for="_sentMail.Id" />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">شماره</label>
                <div class="col-sm-10">
                    <input asp-for="_sentMail.Number" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">تاریخ</label>
                <div class="col-sm-10">
                    <input asp-for="_sentMail.Date" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">گیرنده</label>
                <div class="col-sm-10">
                    <input asp-for="_sentMail.Receiver" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">قالب</label>
                <div class="col-sm-10">
                    <select asp-for="_sentMail.Format" class="form-control">
                        <option value="0" selected>A5</option>
                        <option value="1">A4</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">پیوست</div>
                <div class="col-sm-10 text-center">
                    <div class="form-check" dir="ltr">
                        <input asp-for="_sentMail.HasAttach" class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            ندارد
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row" style="display:none" id="attachSection">
                <label class="col-sm-2 col-form-label">تصویر پیوست</label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">عنوان اول</label>
                <div class="col-sm-10">
                    <input asp-for="_sentMail.Title1" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">عنوان دوم</label>
                <div class="col-sm-10">
                    <input asp-for="_sentMail.Title2" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">موضوع</label>
                <div class="col-sm-10">
                    <input asp-for="_sentMail.Subject" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">متن</label>
                <div class="col-sm-10">
                    <textarea asp-for="_sentMail.Body" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">ذخیره</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section header{
    <header>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">نامه ها | زرین بتن</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Settings"><i class="bi bi-gear"></i>تنظیمات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Backup"><i class="bi bi-layer-backward"></i>Backup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Index"><i class="bi bi-house"></i>صفحه اصلی</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

}