@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-3">
        <a asp-page="NewSentMail" style="font-size:1.5rem" type="button" class="btn btn-labeled btn-success">
            <span class="btn-label"><i class="bi bi-pencil-square mx-2"></i></span>نامه ارسالی جدید
        </a>
    </div>
    <div class="col-3">
        <a asp-page="SentMailList" style="font-size:1.5rem" type="button" class="btn btn-labeled btn-primary">
            <span class="btn-label"><i class="bi bi-envelope mx-2"></i></span>لیست نامه های ارسالی
        </a>
    </div>
    <div class="col-3">
        <a asp-page="NewReceivedMail" style="font-size:1.5rem" type="button" class="btn btn-labeled btn-info">
            <span class="btn-label"><i class="bi bi-box-arrow-in-right mx-2"></i></span>نامه دریافتی جدید
        </a>
    </div>
    <div class="col-3">
        <a asp-page="ReceivedMailList" style="font-size:1.5rem" type="button" class="btn btn-labeled btn-danger">
            <span class="btn-label"><i class="bi bi-mailbox2 mx-2"></i></span>لیست نامه های دریافتی
        </a>
    </div>
</div>

@section header{
    <header>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">نامه ها | زرین بتن</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Settings"><i class="bi bi-gear"></i>تنظیمات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Backup"><i class="bi bi-layer-backward"></i>Backup</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-page="Index"><i class="bi bi-house"></i>صفحه اصلی</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

}