@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-6">
        <a asp-page="NewSentMail" type="button" class="btn btn-labeled btn-success btn-lg m-1">
            <span class="btn-label">نامه ارسالی جدید</span>
        </a>
        <a asp-page="SentMailList" type="button" class="btn btn-labeled btn-primary btn-lg m-1">
            <span class="btn-label">لیست نامه های ارسالی</span>
        </a>
    </div>
    <div class="col-6">
        <a asp-page="NewReceivedMail" type="button" class="btn btn-labeled btn-info btn-lg m-1">
            <span class="btn-label">نامه دریافتی جدید</span>
        </a>
        <a asp-page="ReceivedMailList" type="button" class="btn btn-labeled btn-danger btn-lg m-1">
            <span class="btn-label">لیست نامه های دریافتی</span>
        </a>
    </div>
</div>

@section header{
    <header>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">نامه ها | زرین بتن</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <b class="text-white">☰</b>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Settings"><i class="bi bi-gear"></i>تنظیمات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Backup"><i class="bi bi-layer-backward"></i>Backup</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-page="Index"><i class="bi bi-house"></i>صفحه اصلی</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

}