@page
@model ZarinBetonLetterWebApp.Pages.ReceivedMailListModel
@{
}

<div class="row"><div class="col-12 text-center"><h3>لیست نامه های دریافتی</h3></div></div>

<div class="row">
    <div class="col-12">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>سال</label>
                    <input type="text" class="form-control" placeholder="مثال : 1401">
                </div>
                <div class="form-group col-md-6">
                    <label>ماه</label>
                    <input type="number" class="form-control" placeholder="مثال : 6">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">مشاهده</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th>شماره</th>
                    <th>تاریخ</th>
                    <th>موضوع</th>
                    <th>فرستنده</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 3</td>
                    <td>Row 1 Data 4</td>
                    <td>Row 1 Data 5</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                    <td>Row 2 Data 3</td>
                    <td>Row 2 Data 4</td>
                    <td>Row 2 Data 5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section header{
    <header>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">نامه ها | زرین بتن</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Settings"><i class="bi bi-gear"></i>تنظیمات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Backup"><i class="bi bi-layer-backward"></i>Backup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Index"><i class="bi bi-house"></i>صفحه اصلی</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

}