@page
@model ZarinBetonLetterWebApp.Pages.SentMailListModel
@{
}

<div class="row"><div class="col-12 text-center"><h3>لیست نامه های ارسالی</h3></div></div>

<div class="row">
    <div class="col-12">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>سال</label>
                <input id="yearF" class="form-control" placeholder="مثال : 1401">
            </div>
            <div class="form-group col-md-6">
                <label>ماه</label>
                <input id="monthF" class="form-control" placeholder="مثال : 6">
            </div>
        </div>
        <button href="#" onclick="doShow()" class="btn btn-primary">مشاهده</button>
    </div>
</div>

<hr />

<div class="row mt-5" id="tableofdata" style="display:none">
    <div class="col-12">
        <table id="table_id" class="display table table-hover w-100">
            <thead>
                <tr>
                    <th></th>
                    <th>شماره</th>
                    <th>تاریخ</th>
                    <th>موضوع</th>
                    <th>گیرنده</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        function doShow(e) {
            dataTable = $("#table_id").DataTable({
                "ajax": { "url": "?handler=Json&year=" + $('#yearF').val() + "&month=" + $('#monthF').val(), "type": "GET", "datatype": "json", async: true },
                "columns": [{ "data": "id", "render": function (data) { return '<a class="btn btn-info m-1" href="?handler=View&id=' + data + '" onclick="window.open(this.href, \'mywin\',\'left=20,top=20,width=800,height=600,toolbar=1,resizable=1\'); return false;">نمایش</a>' + '<a class="btn btn-warning m-1" href="EditSentMail?id=' + data + '">ویرایش</a>' + '<a class="btn btn-danger m-1" onclick="return confirm(\'آیا از حذف مطمئن هستید ?\')" href="?handler=Delete&id=' + data + '">حذف</a>' + '<a class="btn btn-success m-1" href="?handler=Attach&id=' + data + '" onclick="window.open(this.href, \'mywin\',\'left=20,top=20,width=800,height=600,toolbar=1,resizable=1\'); return false;">نمایش پیوست ها</a>' }, "width": "20%" }, { "data": "number", "width": "20%" }, { "data": "date", "width": "20%" }, { "data": "subject", "width": "20%" }, { "data": "receiver", "width": "20%" }],
                "language": { "emptyTable": "موردی یافت نشد", "search": "جستجو:", "paginate": { "first": "اول", "last": "آخر", "next": "بعدی", "previous": "قبلی" }, "info": "نمایش _START_ از _END_ از _TOTAL_ نتیجه", "lengthMenu": "نمایش _MENU_ نتیجه" },
                "width": "100%",
                "bDestroy": true
            });

            $("#tableofdata").show();
        }

    </script>
}

@section header{
    <header>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">نامه ها | زرین بتن</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <b class="text-white">☰</b>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Settings"><i class="bi bi-gear"></i>تنظیمات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Backup"><i class="bi bi-layer-backward"></i>Backup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Index"><i class="bi bi-house"></i>صفحه اصلی</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

}