@page
@model ZarinBetonLetterWebApp.Pages.SettingsModel
@{
}


<div class="row">
    <div class="col-12">
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label>شعار سال</label>
                    <input asp-for="_slogan.Slogan1" class="form-control">
                </div>
                <div class="form-group col-md-5">
                    <label>سال</label>
                    <input asp-for="_slogan.Year" type="number" class="form-control" placeholder="مثال : 1401">
                </div>
                <div class="form-group col-md-5">
                    <label>مشاهده شعار های ذخیره شده</label>
                    <a href="#" class="btn btn-success"><i class="bi bi-eye"></i></a>
                </div>
            </div>

            <div class="form-row">
                <input type="hidden" asp-for="_default.Id" />
                <div class="form-group col-md-12">
                    <label dir="rtl">مسیر نصب WORD</label>
                    <input asp-for="_default.WordPath" class="form-control">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">ذخیره</button>
        </form>
    </div>
</div>

@section header{
    <header>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">نامه ها | زرین بتن</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <li class="nav-item active">
                        <a class="nav-link" asp-page="Settings"><i class="bi bi-gear"></i>تنظیمات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Backup"><i class="bi bi-layer-backward"></i>Backup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Index"><i class="bi bi-house"></i>صفحه اصلی</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

}
